<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
       <h2>All Tasks</h2>
        <ul>
            <li v-for="task in tasks" v-text="task.description"></li>
        </ul>

        <h2>In Completed Tasks</h2>
        <ul>
            <li v-for="task in incompleteTasks">
            {{ task.description }}
            <button @click="task.completed = true"> Complete</button>

            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#root',

            data: {
                tasks : [
                    { description: 'Go to Store', completed: true},
                    { description: 'Sleep', completed: true},
                    { description: 'Eat', completed: false},
                    { description: 'Exercise', completed: false}
                ]
            },

            computed: {
                incompleteTasks() {
                    return this.tasks.filter(task=>  ! task.completed);
                }
            } 
        })
    </script>
</body>
</html>